[flake8]
ignore = A003, A005, C101, C400, E402, Q000, W503
exclude =
    .git,
    .mypy_cache,
    __pycache__,
    .venv
filename = *.py
accept-encodings = utf-8
inline-quotes = single
max-complexity = 12
max-linenumber = 500
max-line-length = 119
multiline-quotes = double
