<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registrierung aktivieren</title>
</head>
<body>
    <h1>Aktienspiel</h1>

    <p>Vielen Dank für deine Registrierungsanfrage beim Aktienspiel. Bitte klicke innerhalb der nächsten 30
        Tage auf den folgenden Link, um deine Registrierung abzuschließen und dein Profil zu erstellen:</p>

    <a href="{{ activation_link }}">{{ activation_link }}</a>

    <p>Falls du diese Anfrage nicht gestellt hast, kannst du diese E-Mail ignorieren.</p>

    <p>Mit freundlichen Grüßen,<br>
    Dein Aktienspiel Team</p>

</body>
</html>
